<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Smooth - The Perfect Music Bot</title>
  <meta name="title" content="Smooth - The Perfect Music Bot">
  <meta name="description" content="Smooth Bot Website">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="<%= pfp %>" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="/images/hero-banner.png">

</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo"> <img src="<%= pfp %>" width="100" height="100" alt="logo">
      
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="#" class="logo"><h2><%= name %></h2>
        
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="/#services" class="navbar-link">Features</a>
          </li>

          <li>
            <a href="/#stat" class="navbar-link">Stats</a>
          </li>

          <li>
            <a href="/server" class="navbar-link">Support</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Premium</a>
          </li>

        </ul>

      </nav>

      <div class="btn-group">
      

        <a href="<%= invite %>" class="btn btn-primary">Invite Bot</a>
      </div>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <div class="overlay" data-overlay data-nav-toggler></div>

    </div>
  </header>

<p>
    <br>
    <br>
    <br>
    <br>
</p>

<div class="premium-text">
  <br>
  <br>
  <br>
  <br>
    <h1>Smooth Premium Plans</h1>
</div>

  <div class="pricing-table">
    <div class="pricing-card">
      <h3 class="pricing-card-header">Smooth Ascendant</h3>
      <div class="price">
        <sup>$</sup><b>
            1.50/mo
        </b>
      </div>
      <ul>
        <li>1x Premium Servers</li>
        <li>24/7 Playback</li>
        <li>Volume Control</li>
        <li>Audio Filters</li>
        <li>And much more...</li>
      </ul>
      <a href="https://discord.gg/smooth-headquarters-1061498145722351656" class="order-btn">Order Now</a>
    </div>
    <div class="pricing-card">
      <h3 class="pricing-card-header">Smooth Immortal</h3>
      <div class="price">
        <sup>$</sup><b>
            3.00/mo
        </b>
      </div>
      <ul>
        <li>3x Premium Servers</li>
        <li>Everything from Golden</li>
        <li>+ Speed control</li>
        <li>+ Bypass vote</li>
        <li>+ And much more...</li>
      </ul>
      <a href="https://discord.gg/smooth-headquarters-1061498145722351656" class="order-btn">Order Now</a>
    </div>
    <div class="pricing-card">
      <h3 class="pricing-card-header">Smooth Radiant</h3>
      <div class="price">
        <sup>$</sup><b>
            7.99/mo
        </b>
      </div>
      <ul>
        <li>7x Premium Servers</li>
        <li>Everything from Platinum</li>
        <li>+ No command cooldowns</li>
        <li>+ Access to early features</li>
        <li>+ And much more...</li>
      </ul>
      <a href="https://discord.gg/smooth-headquarters-1061498145722351656" class="order-btn">Order Now</a>
    </div>
    <div class="pricing-card">
      <h3 class="pricing-card-header">Smooth Lifetime</h3>
      <div class="price">
        <sup>$</sup><b>
            9.99/mo
        </b>
      </div>
      <ul>
        <li>5x Premium Servers</li>
        <li>Everything from Diamond</li>
        <li>+ New features</li>
        <li>+ Cool role in hq</li>
        <li>+ And much more...</li>
      </ul>
      <a href="https://discord.gg/smooth-headquarters-1061498145722351656" class="order-btn">Order Now</a>
    </div>
  </div>


  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

  

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          Copyright Smooth Bot 2024. All rights reserved.
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Invite Smooth</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Support Server</a>
          </li>

        </ul>

      </div>
    </div>

  </footer>


<!-- Github: diwasatreya -->


  <!-- 
    - custom js link
  -->
  <script src="/js/script.js" defer></script>

  <!-- 
    - ionicon-link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
