<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Castro - Perfect Music Bot</title>
  <meta name="title" content="Castro - Perfect Music Bot">
  <meta name="description" content="Castro is the ultimate Discord music bot that will transform your server into a musical paradise">
  <meta name="author" content="Castro Bot">
  <meta content="https://cdn.discordapp.com/attachments/1176847463399821326/1201541034316935239/castro.png-ezgif.com-webp-to-jpg-converter-removebg-preview.png?ex=65ca314a&is=65b7bc4a&hm=13d5c5bef73846d5451fa37740a88ce542b9941415728ba07d699ebad8c4ae2b&" property="og:image" />
<meta content="#00E6FF" data-react-helmet="true" name="theme-color" />

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="<%= pfp %>" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="/images/hero-banner.png">

</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo"> <img src="<%= pfp %>" width="100" height="100" alt="logo">
      
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="#" class="logo"><h2><%= name %></h2>
        
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="/#features" class="navbar-link">Features</a>
          </li>

          <li>
            <a href="/#about" class="navbar-link">About</a>
          </li>

          <li>
            <a href="/server" class="navbar-link">Support</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Order Custom Bot</a>
          </li>

        </ul>

      </nav>

      <div class="btn-group">
      

        <a href="<%= invite %>" class="btn btn-primary">Invite Bot</a>
      </div>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <div class="overlay" data-overlay data-nav-toggler></div>

    </div>
  </header>

<p>
    <br>
    <br>
    <br>
    <br>
</p>


  <br>
  <br>

  <div class="premium-text">
    <div class="btn-group">
      <a href="https://discord.gg/gVzTbSfAKB" class="btn btn-primary">Order a custom bot</a>
    </div>

    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

    <div class="overlay" data-overlay data-nav-toggler></div>
  </div>

  <div class="pricing-table">
    <dev class="pricing-card">
      <iframe src="https://discord.com/widget?id=1181179172392030218&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </dev>
  </dev>
</div>


  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

  

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          Made by glaxin1999 with ❤️
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Invite Castro</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Support Server</a>
          </li>

        </ul>

      </div>
    </div>

  </footer>


<!-- Github: diwasatreya -->


  <!-- 
    - custom js link
  -->
  <script src="/js/script.js" defer></script>

  <!-- 
    - ionicon-link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
